<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript">
            var idx = window.location.toString().indexOf("#");
            if (idx > 0) {
                window.location = window.location.toString().substring(0, idx);
            }
        </script>
        <title>404 - Dropboks</title>
        <link rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.min.css">
        <link rel="stylesheet" href="/css/custom.css">
        <style>
            .container {
                padding-top: 150px;
            }
        </style>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand">Dropboks</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="/auth/signup">Signup</a></li>
                    <li><a href="/auth/about">About</a></li>
                </ul>
            </div>
        </nav>
        
        404 not found
        
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/Materialize/dist/js/materialize.min.js"></script>
    </body>
</html>