<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
            var idx = window.location.toString().indexOf("#");
            if (idx > 0) {
                window.location = window.location.toString().substring(0, idx);
            }
        </script>
        <title>404 - Not found - Dropboks</title>
        
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/custom.css">
        <script src="/controllers/homeController.js"></script>
    </head>
    <body>
        <div id="pageHeader">
            <div id="brand">Dropboks</div>
            <div id="userInfo">
                <% if(user.local.username) { %>
                    <p>(Local) <%= user.local.username %></p>
                <% } else if (user.facebook.name) { %>
                    <p>(FB) <%= user.facebook.name %></p>
                <% } else if (user.google.name) { %>
                    <p>(G+) <%= user.google.name %></p>
                <% } %>
                <p><a href="/logout">Log out</a></p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h1>404</h1>
                <h2>Requested page not found</h2>
                <p><a href="/">Home page</a></p>
            </div>
        </div>
    </body>
</html>