<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript">
            var idx = window.location.toString().indexOf("#");
            if (idx > 0) {
                window.location = window.location.toString().substring(0, idx);
            }
        </script>
        <title>Home - Dropboks</title>
        
        <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
        <link rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/css/custom.css">
    </head>
    <body ng-controller="HomeCtrl">
        <!-- Slide out menu -->
        <ul id="slide-out" class="side-nav fixed blue-grey lighten-5">
            <div class="row">
                <div class="col s12">
                    <div class="card blue-grey">
                        <div class="card-content white-text">
                            <span class="username"><%= user.username %></span>
                            <% if(user.local.username) { %>
                            <p>(Local login)</p>
                            <% } else if (user.facebook.name) { %>
                            <p>(Facebook login)</p>
                            <% } else if (user.google.name) { %>
                            <p>(Google+ login)</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <li class="divider"></li>
            <li><a href="#" ng-click="visitSelf()">My files</a></li>
            <li><a href="#">Settings</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
        
        
        <!-- Top navbar -->
        <div ng-include="'/partials/navbar.html'"></div>
        
        <!-- Main content -->
        <div id="main">
            <div class="searchResult">
                <div ng-repeat="username in searchResult" ng-click="visitUser(username)" class="card-panel blue-grey lighten-3 username-in-search">{{username}}</div>
            </div>
            
            <div ng-if="mine" ng-include="'/partials/mine.html'"></div>
            <div ng-if="!mine" ng-include="'/partials/theirs.html'"></div>
        </div>
        
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/Materialize/dist/js/materialize.min.js"></script>
        <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
        <script src="/controllers/homeController.js"></script>
    </body>
</html>