<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript">
            var idx = window.location.toString().indexOf("#");
            if (idx > 0) {
                window.location = window.location.toString().substring(0, idx);
            }
        </script>
        <title>Login - Dropboks</title>
        
        <link rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.min.css">
        <link rel="stylesheet" href="/css/custom.css">
        <style>
            .container {
                padding-top: 150px;
            }
        </style>
    </head>
    <body>
        <nav class="blue-grey">
            <div class="nav-wrapper">
                <a href="/" class="brand">Dropboks</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="/auth/signup">Signup</a></li>
                    <li><a href="/auth/about">About</a></li>
                </ul>
            </div>
        </nav>
        
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                    <form action="/auth/login" method="post" id="credentialsForm">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="username" type="text" name="username">
                                <label for="username">Username</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="password" type="password" name="password">
                                <label for="password">Password</label>
                            </div>
                        </div>

                        <% if (message.length > 0) { %>
                        <div class="row">
                            <div class="errorMessage"><%= message %></div>
                        </div>
                        <% } %>

                        <div class="row">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light wideButton" type="submit">
                                    Log in
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <a href="/auth/google" class="waves-effect waves-light btn wideButton">Google+</a>
                            </div>
                            <div class="col s6">
                                <a href="/auth/facebook" class="waves-effect waves-light btn wideButton">Facebook</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/Materialize/dist/js/materialize.min.js"></script>
    </body>
</html>