<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript">
            var idx = window.location.toString().indexOf("#");
            if (idx > 0) {
                window.location = window.location.toString().substring(0, idx);
            }
        </script>
        <title>Login - Dropboks</title>
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="/css/custom.css">
        <style>
            .topPadding {
                padding-top: 150px;
            }
        </style>
    </head>
    <body ng-controller="SignupCtrl" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span style="font-size: 30px;">Dropboks</span>
            </div>
        </md-toolbar>
        <div layout-align="center center" class="topPadding">
            <div class="flexCenter">
                <form action="/auth/signup" method="post" id="credentialsForm">
                    <div layout="row" layout-align="center center" layout-padding>
                        <md-input-container flex>
                            <label>Username</label>
                            <input type="text" name="username" required>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Password</label>
                            <input type="password" name="password" required>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-raised md-primary" type="submit" flex>Sign up</md-button>
                        <% if (message.length > 0) { %>
                            <div class="errorMessage"><%= message %></div>
                        <% } %>
                    </div>
                </form>
            </div>
        </div>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="/bower_components/angular-material/angular-material.min.js"></script>
        <script src="/bower_components/angular-material-icons/angular-material-icons.min.js"></script> 
        <script src="/controllers/signupController.js"></script>
    </body>
</html>