html, body {
    height: 100%;
}

body {
    background: #FFFFFF;
}

.wideButton {
    width: 100%;
}

.brand {
    padding: 10px;
    font-size: 24px;
}

/* Smaller than 992 px */
@media only screen and (max-width : 992px) {
    #main {
        padding-left: 0;
/*        padding: 20px;*/
    }
}

/* Bigger than 993 px */
@media only screen and (min-width: 993px) {
    #main {
/*        padding: 20px;*/
        padding-left: 240px;
    }
    
    .navbar-collapse {
        display: none;
    }
    
    .brand {
        margin-left: 260px;
    }
}

